$body: #333745
$light: #A7AEBF
$highlight: #EA2E49

html
	background: url(../images/geometric.png)

body
	overflow: hidden
	margin: 60px auto
	width: 600px
	background: #fff
	font: 16px/21px "Source Sans Pro"
	color: $body

header
	text-align: center

	h1
		font: 32px Cabin
		margin: 4px

	small
		color: $light
		font-size: 15px

hr
	border: 1px solid $highlight
	margin: 30px 0

a
	color: $highlight
	text-decoration: none

	&:hover
		color: darken($highlight, 20%)

p
	text-align: justify
