<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css">
		<link rel="stylesheet" href="/assets/css/screen.css">
		<link rel="shortcut icon" href="favicon.ico">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="description" content="Evan Purkhiser is a Software Engineer and Trance + Happy Hardcore DJ living in New York.">
		<title>{{site.title}}</title>
	</head>
	<body>
		<header>
			<h1>Evan Purkhiser</h1>
			<small>Full Stack Developer, UNIX Enthusiast, Minimalist, Perfectionist</small>
		</header>

		<hr>

		{{content}}
	</body>
</html>
